.table-container {
  width: 100%;
  height: 100%;
  background: #eef2f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 0;
  &__wrapper {
    max-width: 1640px;
    background: #FFFFFF;
    box-shadow: 0  0 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
    flex: 1;
    border-radius: 5px;

    &__header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      &__views {
        display: flex;
        column-gap: 10px;
        max-width: 200px;
        font-size: 14px;
        color: gray;
        align-items: center;
      }
      &__search {
        display: flex;
        column-gap: 10px;
        max-width: 200px;
        font-size: 14px;
        color: gray;
        align-items: center;
      }
    }

    &__main {
      display: grid;
      border-collapse: collapse;
      min-width: 100%;
      padding-bottom: 20px;

      thead,
      tbody,
      tr {
        display: contents;
      }

      th,
      td {
        padding: 5px 10px;
        overflow: hidden;
        cursor: pointer;
        &:not(:last-child) {
          border-right: 1px solid rgba(211,211,211, .4);
        }
      }
      tr:hover {
        td {
          background: darken(#f9fafc, 4%);
        }
      }

      &__header {
        &__title {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          position: sticky;
          top: 0;
          background: #f9fafc;
          border-bottom: 1px solid rgba(211,211,211, .6);
          -webkit-background-clip: padding-box;
          background-clip: padding-box;
          text-align: left;
          font-weight: normal;
          font-size: 14px;
          color: gray;
          img {
            width: 10px;
            height: 10px;
          }
        }
      }

      td {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
        color: gray;
        border-bottom: 1px solid rgba(211,211,211, .4);
        word-break: break-all;
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      padding-bottom: 10px;
      &__counter {
        opacity: 0.9;
      }
      &__page {
        display: flex;
        span {
          font-size: 12px;
        }
      }
    }
  }
}

.seven_columns {
  grid-template-columns:
        minmax(60px, 1.67fr)
        minmax(75px, 1.67fr)
        minmax(70px, 1fr)
        minmax(80px, 2fr)
        minmax(80px, 2fr)
        minmax(60px, 1.67fr)
        minmax(60px, 2fr)
}
